html,
body {
    background-color: #dfdfdf;
    color: #ba1616;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

p {
    margin: 0;
}

.row.busca {
    padding: 20px 0 5px 0;
    background-color: #dfdfdf;
    position: fixed;
    z-index: 2;
    width: 100%;
}

#input-container {
    position: relative;
}

#input-container>img {
    position: absolute;
    top: 4px;
    left: 3px;
}

#input-container>input {
    padding-left: 30px;
    background-color: #e6e6e6;
    font-size: 16pt;
    width: 100%;
    border-radius: 4px;
    border: solid 1px grey;
}

#input-container img {
    width: 25px;
}

.recentes {
    margin-top: 80px;
}

.recente {
    float: left;
    padding: 12px;
    width: 25%;
}

.imagem-recente {
    background-color: #cecece;
    width: 100%;
    border-radius: 50%;
}

.topicos,
.recentes {
    padding: 0;
}

.topico {
    float: left;
    padding: 12px;
}

.topico .imagem-topico {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #ba1616;
}

.nome-topico p {
    font-size: 12px;
    text-align: center;
    color: #ba1616;
    font-family: calibri;
    margin: 0;
    font-weight: 600;
}

.destaques {
    margin: 10px 5px 0px 10px;
    position: relative;
    padding: 0;
}

.destaque {
    margin-bottom: 10px;
}

.destaque img {
    height: 150px;
    border-radius: 15px;
    box-shadow: 2px 7px 8px grey;
    width: 100%;
}

.estabelecimento {
    margin-bottom: 24px;
}

.image-estabelecimento img {
    width: 100%;
}

.destaques .imagem-topico {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #ba1616;
}

.recentes .topico {
    padding: 0 10px;
}

.espaco-rodape {
    height: 48px;
}

/* Estilo menor */
/* .rodape {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-20%, 20%);
    background-color: #ff0000;
    position: fixed;
    bottom: 0;
} */
/* fim */

/* Estilo maior */
.rodape {
    transition: 1s;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(-30%, 30%);
    background-color: #ff0000;
    position: fixed;
    bottom: 0;
}
/* Fim */

.menu {
    transition: 1s;
    width: 20%;
    height: 100%;
    float: left;
}

.menu img {
    width: 100%;
}

.menus {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.topicos ul.lSPager.lSpg {
    display: none;
}


/* icons */

.fa {
    color: #dedede;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa:hover {
    color: #ba1616
}

.menu .fa{
    transition: 1s;
}

.fa-home {
    font-size: 21pt;
    top: 3px;
    left: 24px;
    transform: rotate(-4deg);
}

.fa-heart {
    font-size: 17pt;
    top: 8px;
    left: 35px;
    transform: rotate(15deg);
}

i.fa.fa-cart-arrow-down {
    font-size: 21pt;
    top: 17px;
    left: 39px;
    transform: rotate(41deg);
}

i.fa.fa-bars {
    transform: rotate(94deg);
    font-size: 21pt;
}

i.fa.fa-user-o {
    font-size: 20pt;
    top: 47px;
    left: 34px;
    transform: rotate(72deg);
}


/* fim icons */